* {
    font-family: "monospace";
    font-size: 14px;
}

window#waybar {
    background-color: #282a36;
    color: #ffffff;
}

.modules-left {
    background-color: #282a36;
    padding: 0px 0px 0px 0px;
}

.modules-right {
    background-color: #282a36;
    padding: 0px 5px 0px 0px;
}

#custom-scratch {
    background-color: #282a36;
    color: #b8b8b8;
    padding: 0px 9px 0px 9px;
}

#workspaces button {
    padding: 0px 8px;
    min-width: 1px;
    color: #888888;
}

#workspaces button.focused {
    border-radius: 0;
    padding: 0px 8px;
    background-color: #6272a4;
    color: #ffffff;
}

#mode {
    background-color: #900000;
    color: #ffffff;
    padding: 0px 5px 0px 5px;
    border: 1px solid #2f343a;
}

#window {
    color: #ffffff;
    padding: 0px 10px 0px 10px;
}

window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}

window#waybar.empty {
    background-color: #282a36;
}

#network,
#temperature,
#backlight,
#pulseudio,
#battery {
    margin: 0px 20px;
}

#clock {
    margin: 0 5px 0 0;
    color: #ffb86c;
}

#tray {
    margin: 0 0 0 15px;
}

#battery.critical {
    color: #ff5555;
}

#network.disconnected {
    color: #ff5555;
}
